@charset "utf-8";

@font-face {
    font-family:'RailAway';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

a{
    text-decoration: none;
}


.wrap{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr;
    margin: 0 auto;
    max-width: 1920px;
    background: #E5E7E6;
    font-family: RailAway;


    .left_side{
        background: #015A86;
        padding: 1rem;
        color: #fff;

        .enlace_opcion {
            color: #fff;
            font-weight: bold;
            font-size: 0.8rem;
            display: block;
        }

        .left_side_logo{
            display:flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 1rem;
            border-bottom: 1px solid #0C6DA4;
        }

        .left_side_options{
            margin-top: 1rem;
            height: 88%;
            display: grid;
            grid-template-rows: 2rem 1fr 2rem;

            .left_side_home,.close_session {
                border-bottom: 1px solid #0C6DA4;
                display: flex;
                align-items: center;
                gap: 10px;

                a {
                    display: block;
                    width: 100%;
                    color: #fff;
                }
            }
        }

        .menu_acordeon {
            margin-top: 1rem;
            font-size: 0.8rem;
            margin-left: 0;

            .title__acordeon{
                margin-bottom: 1rem;
            }

            .nav__link {
                display: block;
                padding: 5px 0;
                text-decoration: none;
                color: #fff;
                font-weight: 500;
            }

            .nav__link--inside {
               border-radius: 6px;
               text-align: left;
               margin-left: -20px;
            }

            .nav__link--inside:hover {
                background:#c2c2c2;
            }

            .list {
                display: flex;
                flex-direction:column;
                margin-left: -30px;
            }

            .list__img {
                width: 1rem;
            }

            .list__item {
                list-style: none;
                width: 100%;
                overflow: hidden;
            }

            .list__item--click {
                cursor: pointer;
            }

            .list__button{
                display:flex;
                align-items:center;
                gap: .5em;
                width:100%;
                margin: 0 auto;
                line-height: 2rem;
            }


            .list__inside{
                list-style: none;
            }

            .list__arrow{
                margin-left: auto;
                transition: transform .3s;
            }

            .arrow .list__arrow{
                transform: rotate(90deg);
            }

            .list__show{
                width: 80%;
                margin-left: 10px;
                border-left: 2px solid #fff;
                transition: height .4s;
                height: 0;
            }
            
        }
    }

    .rigth_side{
        display:grid;
        grid-template-rows: 4rem 1fr;
        height: inherit;

        .rigth_side_header {
            display: grid;
            grid-template-columns: 1fr 20%;
            width: 100%;
            background:#fff;
            padding: .5rem;

            .file_options{
                display: flex;
                align-items: center;
                gap: 10px;
                background: #015A86;
                width: max-content;
                padding: .9rem;
                margin-left: 1rem;
                border-radius: 8px;

                .enlace_blanco {
                    color: #fff;
                }
            }

            .info{
                display: flex;
                gap: 2rem;
                padding: .9rem;

                .info_header {
                    border-right: 4px solid #989898;
                    padding-right: 20px;

                    .notify{
                        position:relative;

                        .notify__number{
                            position:absolute;
                            top: 10px;
                            right: -10px;
                            background: red;
                            color: #fff;
                            padding: 3px 7px;
                            border-radius:50%;
                            font-size: .7rem;
                        }
                    }
                    
                }

                .info_header,.info_user{
                    display: flex;
                    gap: 1rem;
                }

                .info_user {
                    .user__icon {
                        width: 35px;
                        display: block;
                        margin-top: -10px;
                    }
                }
            }
        }

        .work_area_rigth_side {
            display:grid;
            grid-template-columns: 1fr;
            padding: 30px;
        }
    }
}