@font-face {
    font-family:'RailAway';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

a{
    text-decoration: none;
}

.wrap{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr;
    margin: 0 auto;
    max-width: 1920px;
    background: #E5E7E6;
    font-family: RailAway;

    .icono_anterior {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
        pointer-events: none;
    }

    .link_arrow {
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 0px;
        top: 15px;
        transition: all .5s;
    }

    .left_side{
        background: #015A86;
        padding: 1rem;
        color: #fff;

        .enlace_opcion {
            color: #fff;
            font-weight: bold;
            font-size: 0.9rem;
            display: block;
        }

        .left_side_logo{
            display:flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 1rem;
            border-bottom: 1px solid #0C6DA4;
        }

        .left_side_options{
            margin-top: 1rem;
            height: 88%;
            display: grid;
            grid-template-rows: 2rem 1fr 2rem;

            .left_side_home {
                border-bottom: 1px solid #0C6DA4;

                * {
                    color: #fff;
                }
            }
        }

        .left_side_acordeon {
            margin-top: 2rem;

            #acordeon{
                line-height: 2.5rem;

                .link {
                    position: relative;

                    .submenu {
                        background:#fff;
                        list-style: none;
                        border-radius: 8px;
                        line-height: 2rem;
                        display: none;

                        .submenu_opcion{
                            color: #000;
                            display: block;


                            &:hover{
                                background:#c2c2c2;
                            }
                        }
                    }
                }
            }
        }
    }

    .rigth_side{
        display:grid;
        grid-template-rows: 4rem 1fr;

        .rigth_side_header {
            display: grid;
            grid-template-columns: 1fr 20%;
            width: 100%;
            background:#fff;
            padding: 1.5rem 30px;

            .info{
                display: flex;
                gap: 2rem;

                .info_header,.info_user{
                    display: flex;
                    gap: 1rem;
                }
            }
        }

        .work_area_rigth_side {
            display:grid;
            grid-template-columns: 1fr;
            padding: 30px;
        }
    }
}